import(org.Hs.eg.db)
import(SummarizedExperiment)
importFrom(magrittr,"%>%")
importFrom(GSEABase, GeneSet)
importFrom(GSEABase, SymbolIdentifier)
importFrom(GSEABase, ENSEMBLIdentifier)
importFrom(GSEABase, EntrezIdentifier)
import(TissueEnrich)
#exportPattern("^[[:alpha:]]+")
export(onco_enrich)
export(write)
