exportPattern("^[[:alpha:]]+")

#export(verify_query_genes)
#export(target_disease_associations)
#export(get_go_enrichment)
#export(get_universal_enrichment)
#export(gtex_co_expression)
#export(get_string_ppi_network)
#export(init_report)
export(generate_report)
export(write_report)
#export(tcga_aberration_plot)
#export(tcga_aberration_table)
#export(annotate_protein_complex)
#export(validate_db_df)
importFrom(magrittr,"%>%")
import(org.Hs.eg.db)
